<div class="layout-admin-people-index">
  <%= render 'admin/shared/area_leads' %>

  <div class="admin-index-table fobs-table">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Opened At</th>
          <th>Closed At</th>
          <th>Auto closed</th>
        </tr>
      </thead>
      <tbody>
        <% @fob_sessions.each do |session| %>
        <tr>
          <td><%= session.id %></td>
          <td><%= session.opened_at %></td>
          <td><%= session.closed_at %></td>
          <td><%= session.auto_closed %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @fob_sessions %>
  </div>
</div>
