<article class="theme-people people-me" data-controller="sticky" data-action="scroll@window->sticky#onScroll">
  <div class="sticky-hero" data-sticky-target="hero">
    <div class="container">
      <h1 class="inline-page-title">Hi <%= @user.display_name %>,</h1>
      <div class="hero">
        <div class="details">
          <div class="description">
            <p>Welcome to Maker Community.</p>
            <p>Not <%= @user.display_name %>? <a href="<%= destroy_user_session_path %>" class="text-link">Sign out</a></p>
          </div>
          <div class="call-to-action">
            <div class="sticky-toolbar" data-sticky-target="nav">
              <nav class="in-page-nav" data-controller="in-page-nav" data-action="scroll@window->in-page-nav#onScroll">
                <a href="#membership" data-action="in-page-nav#click">Membership</a>
                <a href="#slack" data-action="in-page-nav#click">Slack</a>
                <a href="#bookings" data-action="in-page-nav#click">Bookings</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-sticky-target="contents">
    <div class="container">
      <div class="scroll-target"><a id="membership"></a></div>
      <section class="membership">
        <h2 class="section-heading">Membership</h2>
        <%= render 'people/memberships', memberships: @memberships %>
      </section>

      <div class="scroll-target"><a id="slack"></a></div>
      <section class="slack">
        <h2 class="section-heading">Slack</h2>
        <p>We use slack for discussing our projects and running Maker Community.</p>
        <% if @user.slack_user.present? %>
        <p>You are connected as <strong>@<%= @user.slack_user.name %></strong> on slack.</p>
        <% else %>
        <a href="https://join.slack.com/t/maker-community/shared_invite/zt-k07ye0n9-655MWiPA4qr2oHJrz52LMA" class="button">Join our slack</a>
        <% end %>
      </section>

      <div class="scroll-target"><a id="bookings"></a></div>
      <section class="bookings">
        <h2 class="section-heading">Bookings</h2>
        <div class="actions-on-right">
          <div class="actions">
            <div class="details">
              <div class="time-details detail-with-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <div class="contents">
                  <h3>Your personal calendar</h3>
                  <p>You can subscribe to this in your calendar app and all Maker Community events that you book, run or volunteer at will automatically be added to it.</p>
                  <a class="button" href="<%= calendar_path(@user.calendar_token) %>">subscribe</a>
                </div>
              </div>
            </div>
          </div>
          <div class="bookings-events-list body">
            <% if @bookings.present? %> <%= render 'events/events_list', event_sessions: @bookings.map(&:session) %> <% else %>
            <div class="no-data">
              <p>You have no upcoming bookings, check out our <a href="<%= events_path %>" class="text-link">events page</a>.</p>
            </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</article>
