<div class="layout-admin-program-index">
  <div class="admin-area-leads">
    <% @area_roles.each do |role| %>
    <div class="role">
      <h2><%= role.display_name.pluralize %></h2>
      <% role.users.each do |user| %>
      <a class="person" href="<%= url_for admin_person_path(user) %>"><%= user.display_name %></a>
      <% end %>
    </div>
    <% end %>
  </div>
  <h1 class="page-title">Open Times & Duty Management</h1>
  <%= render 'admin/shared/month_nav', month: @month %> <%= render 'admin/open_times/duty_manager_availability', duty_managers: @duty_managers, sessions: @sessions %>
</div>
