<div class="layout-admin-program-index">
  <div class="admin-area-leads">
    <% @area_roles.each do |role| %>
    <div class="role">
      <h2><%= role.display_name.pluralize %></h2>
      <% role.users.each do |user| %>
      <a class="person" href="<%= url_for admin_person_path(user) %>"><%= user.display_name %></a>
      <% end %>
    </div>
    <% end %>
  </div>
  <h1 class="page-title">Open Times & Duty Management</h1>
  <%= render 'admin/shared/month_nav', month: @month %>
  <table>
    <thead>
      <tr>
        <th colspan="2">Day</th>
        <th>Session</th>
      </tr>
    </thead>
    <tbody>
      <% @sessions.each do |session| %>
      <tr>
        <td><%= session.date.day %></td>
        <td><%= session.date.strftime('%a') %></td>
        <td><%= session.title %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
