<div class="admin-index-table">
  <div class="table-controls">
    <%= render partial: 'admin/shared/filters', locals: { filters: filters } %> <%= search_form_for q, url: request.fullpath do |f| %>
    <div class="search-with-submit"><%= f.search_field :user_display_name_cont %> <%= f.submit "search" %></div>
    <% end %>
  </div>

  <table>
    <thead>
      <tr>
        <th><%= sort_link(q, :user_display_name, 'Name', default_order: :asc) %></th>
        <th>
          <span class="desktop-only">People</span>
          <span class="mobile-only">#</span>
        </th>
        <th>Role</th>
        <th class="desktop-only">Comments</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% bookings.each do |booking| %>
      <tr class="<%= booking.active? ? 'confirmed' : 'unconfirmed' %>">
        <td>
          <%= link_to booking.user.display_name, admin_person_path(booking.user), class: 'primary-row-link' %>
          <div class="mobile-only"><%= booking.comments %></div>
        </td>
        <td><%= booking.persons %></td>
        <td><%= booking.role %></td>
        <td class="desktop-only"><%= booking.comments %></td>
        <td><%= booking.status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate bookings %>
</div>
