<div class="admin-index-table">
  <div class="table-controls">
    <%= render partial: 'admin/shared/filters', locals: { filters: filters } %> <%= search_form_for q, url: request.fullpath do |f| %>
    <div class="search-with-submit"><%= f.search_field :event_title_cont %> <%= f.submit "search" %></div>
    <% end %>
  </div>

  <table>
    <thead>
      <tr>
        <th><%= sort_link(q, :event_title, 'Event Name', default_order: :asc) %></th>
        <th><%= sort_link(q, :start_at, 'Date', default_order: :desc) %></th>
        <th>Start</th>
        <th>End</th>
        <th class="right">Attending</th>
      </tr>
    </thead>
    <tbody>
      <% records.each do |event_session| %>
      <tr>
        <td><%= link_to event_session.event.title, admin_event_session_path(event_session), class: 'primary-row-link' %></td>
        <td><%= event_session.start_at.to_date.to_s :long %></td>
        <td><%= format_time event_session.start_at %></td>
        <td><%= format_time event_session.end_at %></td>
        <td class="right"><%= event_session.bookings.confirmed.sum(:persons) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate records %>
</div>
