<div class="layout-show">
  <div class="title-container">
    <h2 class="page-title"><%= @event_session.event.title %></h2>
    <div class="page-subtitle"><%= format_datetime @event_session.start_at, seperator: ' at ' %></div>
  </div>

  <h3>Attendees</h3>
  <br />

  <div class="admin-index-table">
    <div class="table-controls">
      <%= render partial: 'admin/shared/filters', locals: { filters: @filters } %> <%= search_form_for @q, url: admin_event_session_path(@event_session) do |f| %>
      <div class="search-with-submit"><%= f.search_field :user_display_name_cont %> <%= f.submit "search" %></div>
      <% end %>
    </div>

    <table>
      <thead>
        <tr>
          <th><%= sort_link(@q, :user_display_name, 'Name', default_order: :asc) %></th>
          <th>People</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
        <tr>
          <td><%= link_to booking.user.display_name, admin_person_path(booking.user), class: 'primary-row-link' %></td>
          <td><%= booking.persons %></td>
          <td><%= booking.status %></td>
        </tr>
        <% end %>
      </tbody>
      <%= paginate @bookings %>
    </table>
  </div>
</div>
