<%= simple_form_for order, as: :order, url: event_bookings_path(@event_session), html: { 'data-turbo': false, 'data-controller': 'event-booking-form'} do |f| %> <%= f.error_notification %>
<div class="form-section">
  <h2>About you</h2>
  <% if order.user %>
  <div class="show-user">
    <%= avatar_tag(order.user) %>
    <div class="details">
      <div class="display_name"><%= order.user.display_name %></div>
      <div><%= order.user.email %></div>
    </div>
  </div>
  <p>Not you? <a href="<%= destroy_user_session_path %>">Sign out</a>.</p>
  <% else %>
  <p>Been here before? <a href="<%= new_user_session_path %>">Sign in</a>.</p>
  <%= f.input :name %> <%= f.input :email, as: :email %> <% end %>
</div>
<div class="form-section">
  <h2>Your booking</h2>

  <div class="for-prices">
    <% @order.price_orders.each do |price_order| %> <%= f.simple_fields_for :price_orders, price_order do |price_fields| %>
    <div class="for-one-price" data-price-per-person="<%= price_order.price.per_person %>">
      <div><%= price_fields.label(:persons, label: price_order.price.title, required: false) %> <span><%= format_money price_order.price.per_person %></span></div>
      <%= price_fields.input(:persons, as: :small_integer, required: false, label: false) %> <%= price_fields.input(:price_id, as: :hidden) %>
    </div>
    <% end %> <% end %>
  </div>

  <%= f.input :comments, as: :text, label: 'Comments or special requirements' %>
</div>
<div class="form-section payment-section">
  <h2>Payment</h2>
  <p>This bit isn't done yet.</p>
</div>

<div class="actions"><%= f.submit 'Book now' %> or <%= link_to 'cancel', event_path(@event_session) %></div>
<% end %>
