<div class="theme-program bookings-new">
  <div class="container">
    <div class="context"><%= render "events/event_session_preview", event_session: @event_session, link: false %></div>
    <div class="form">
      <%= simple_form_for @order, as: :order, url: event_bookings_path(@event_session), html: { 'data-turbo': false} do |f| %> <%= f.error_notification %> <%= f.input :email %>
      <div>
        <% @order.prices.each do |price| %>
        <div><%= price.inspect %></div>
        <% end %> <% @order.price_orders.each do |price_order| %> <%= f.simple_fields_for :price_orders, price_order do |price_fields| %> <%= price_fields.input :price_id, as: :hidden %> <%=
        price_fields.input :persons, as: :integer %> <% end %> <% end %>
      </div>
      <%= f.submit 'Book' %> <% end %>
    </div>
  </div>
</div>
