<div class="event-container event-open-time">
  <a href="<%= event_path(event_session) %>" class="event event-open-time">
    <div class="details">
      <div class="date-time">
        <span class="date"><%= format_date event_session.date %></span>
        <span class="time"><%= format_time event_session.start_time %> - <%= format_time event_session.end_time %></span>
      </div>
      <h3 class="event-title"><%= event_session.event.title %></h3>
    </div>
  </a>
</div>
