<div class="theme-program">
  <div class="container">
    <div class="events-index">
      <div class="header">
        <h1 class="inline-page-title">Workshops and Events</h1>
      </div>
      <div class="body">
        <div class="events-list">
          <% @sectioned_sessions.each do |section_title, event_sessions| %> <% if event_sessions.present? %>
          <section>
            <h2><%= section_title %></h2>
            <div class="events"><% event_sessions.each do |event_session| %><%= render "events/#{event_session.event.class.name.demodulize.underscore}", event_session: event_session %><% end %></div>
          </section>
          <% end %> <% end %> <%= render 'events/more_events' %> <%= paginate @event_sessions %>
        </div>
        <div class="filters"><%= render partial: 'events/tag_filters', locals: { tags: @tag_counts, selected_tags: @tags, url_params: @url_params } %></div>
      </div>
    </div>
  </div>
</div>
