<div class="layout-admin-people-index">
  <%= render 'admin/shared/area_leads' %>

  <div class="admin-index-table fobs-table">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Device Id</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <% @fobs.each do |fob| %>
        <tr>
          <td><%= fob.id %></td>
          <td><%= fob.device_id %></td>
          <td><% if fob.user.present? %><%= fob.user.display_name %><% else %><%= link_to "assign", edit_assignment_admin_fob_path(fob) %><% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @fobs %>
  </div>
</div>
