<%= render partial: 'admin/people/navbar' %>
<div class="admin-content layout-admin-people-index">
  <div class="callout stats-callout">
    <h2 class="callout-title">Overview</h2>
    <div class="stats">
      <% @plans.each do |plan| %>
      <div class="stat-container">
        <a class="stat" href="<%= url_for @search_params.merge(plan: plan.name) %>">
          <div class="value"><%= plan.active_users.count %></div>
          <div class="label"><%= plan.title.pluralize %></div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
  <div class="admin-index-table">
    <div class="table-controls">
      <%= search_form_for @q, url: admin_people_path do |f| %>
        <div class="search-with-submit">
          <%= f.search_field :display_name_cont %>
          <%= f.submit "search" %>
        </div>
      <% end %>
    </div>
    <table>
      <thead>
        <tr>
          <th><%= sort_link(@q, :display_name, 'Name', default_order: :asc) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
        <tr>
          <td><%= link_to person.display_name, admin_person_path(person), class: 'primary-row-link' %></td>
          <td>
            <div class="tags">
              <% person.active_plans.each do |plan| %>
              <span class="tag"><%= plan.title %></span>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @people %>
  </div>
</div>
