<%= render partial: 'admin/people/navbar' %>
<div class="admin-content layout-admin-people-index">
  <div class="callout stats-callout">
    <h2 class="callout-title">Overview</h2>
    <div class="stats">
      <% @plans.each do |plan| %>
      <div class="stat">
        <div class="value"><%= plan.active_users.count %></div>
        <div class="label"><%= plan.title.pluralize %></div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="admin-index-table">
    <table>
      <tbody>
        <% @people.each do |person| %>
        <tr>
          <td><%= link_to person.display_name, admin_person_path(person), class: 'primary-row-link' %></td>
          <td>
            <div class="tags">
              <% person.active_plans.each do |plan| %>
              <span class="tag"><%= plan.title %></span>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @people %>
  </div>
</div>
