<div class="admin-people-show layout-show">
  <div class="breadcrumbs">
    <a class="breadcrumb return" href="<%= admin_people_path %>">↩ People</a>
  </div>
  <h1 class="page-title"><%= @person.display_name %></h1>

  <div class="page-actions"><%= link_to('Edit Roles', edit_roles_admin_person_path(@person), class: 'button') if policy([:admin, @person]).edit_roles? %></div>

  <div class="image-and-details">
    <% if @person.has_avatar? %>
    <img class="person-image" src="<%= @person.avatar_url(:large) %>" alt="<%= @person.display_name %>" />
    <% end %>
    <div class="callout person-details show-details">
      <div class="detail">
        <div class="title">Inductions</div>
        <div class="value">
          <ul>
            <% @person.inductions.pluck(:title).each do |induction| %>
            <li><%= induction %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <% if policy([:admin, @person]).show_personal_information? %>
      <div class="detail">
        <div class="title">Address</div>
        <div class="value"><%= render partial: 'admin/people/address', locals: { address: @person.address } %></div>
      </div>
      <div class="detail">
        <div class="title">Contact</div>
        <div class="value">
          <div><%= @person.email %></div>
          <div><%= @person.phone %></div>
        </div>
      </div>
      <% if @person.slack_user %>
      <div class="detail">
        <div class="title">Slack</div>
        <div class="value">@<%= @person.slack_user.name %></div>
      </div>
      <% end %> <% end %>
    </div>
  </div>

  <%= render partial: 'admin/people/events_timeline', locals: { person: @person, events: @person.events } %>
</div>
