<div class="admin-menu theme-black">
  <div class="menu-hero">
    <h1><a href="/admin">Maker Community</a></h1>
  </div>
  <nav class="menu-nav">
    <a class="nav-item has-children <%= 'active' if @section == 'people' %>" href="<%= admin_people_path %>">People</a>
    <% if @section == 'people' %>
    <a class="nav-item child-item" href="<%= admin_plans_path %>">Membership Plans</a>
    <% end %>
    <a class="nav-item has-children <%= 'active' if @section == 'place' %>" href="<%= admin_areas_path %>">Place</a>
    <% if @section == 'place' %>
    <a class="nav-item child-item" href="<%= admin_areas_path %>">Areas</a>
    <% end %>
    <a class="nav-item has-children <%= 'active' if @section == 'program' %>" href="<%= admin_event_sessions_path %>">Program</a>
    <% if @section == 'program' %>
    <a class="nav-item child-item" href="<%= admin_open_times_path %>">Open Times</a>
    <% end %>
    <a class="nav-item <%= 'active' if @section == 'public' %>" href="<%= admin_images_path %>">Public</a>
  </nav>
  <div class="user-details">
    <div class="welcome">
      <div class="de-emphasise">welcome,</div>
      <a class="user-name" href="<%= admin_person_path(current_user) %>"><%= current_user.display_name %></a>
      <div class="roles de-emphasise">
        <% current_user.roles.each do |role| %>
        <div class="role"><%= role.display_name %></div>
        <% end %>
      </div>
    </div>
    <div class="user-links de-emphasise">
      <a class="user-name" href="https://makercommunity.org.au/">main website</a>
      <a class="user-name" href="https://makercommunity.org.au/wp-admin">wordpress admin</a>
      <a class="user-name" href="/">WIP website</a>
      <a class="user-name" href="<%= destroy_user_session_path %>">log out</a>
    </div>
    <div class="stats de-emphasise">
      <div>Last imported:</div>
      <div><%= format_date_html Import.record.imported_at %></div>
    </div>
  </div>
</div>
