<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/head' %>
  </head>

  <body class="theme-gold theme-inverted layout-admin">
    <%= render 'layouts/shared/flash' %> <%= render 'admin/shared/menu' %>
    <div class="admin-body">
      <%= render partial: 'admin/people/navbar' %>
      <div class="admin-content"><%= yield %></div>
    </div>
  </body>
</html>
