<!DOCTYPE html>
<html>
  <head>
    <title>MakerCommunity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" />

    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> <%= stylesheet_link_tag "application", "data-turbo-track":
    "reload"%>
  </head>

  <body class="theme-blue">
    <%= render 'layouts/shared/flash' %> <%= render 'layouts/shared/navbar' %> <%= yield %>
  </body>
</html>
