<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/head' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body class="theme-blue with-navbar">
    <%= render 'layouts/shared/flash' %> <%= render 'layouts/shared/navbar', with_hero: current_page?('/') %> <%= yield %> <%= render 'layouts/shared/footer' %>
  </body>
</html>
