<!DOCTYPE html>
<html>
  <head>
    <title>MakerCommunity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %> <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-blue-dark">
    <div class="bg-blue-dark text-pink-dark py-20 px-6 sticky-header" data-controller="sticky-header" data-action="scroll@window->sticky-header#onScroll">
      <h1 class="text-4xl leading-snug max-w-lg sm:text-5xl md:leading-snug">
        <strong>Maker Community</strong>
        <span class="only-open">is your local space to build, learn and share your passion for craft.</span>
      </h1>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/2 bg-pink-light text-pink-very-dark py-16 px-6">
        <h2 class="text-4xl font-medium text-blue-dark mb-3">Room to create</h2>
        <p class="text-lg mb-6">
          We've got a fully equipped woodworking space, heaps of 3D Printers, a hefty CNC router, soldering stations, electronics, laser cutter, textiles, drones and much more. Maker Community is like
          your dream workshed, with the room and tools to create that project that you've always imagined.
        </p>
        <button class="rounded-full bg-blue-dark text-pink-light py-2 px-6">Explore the workshop</button>
      </div>
      <div class="basis-1/2 bg-skyblue-light text-skyblue-dark py-16 px-6">
        <h2 class="text-blue-dark font-medium text-4xl mb-3">Learn to DIY</h2>
        <p class="text-lg mb-6">
          No matter your skill-level, our workshops will empower you to transform your project ideas into reality. From CNC Machining to Jewellery Making: we supply the tools and knowledge to build
          your confidence, as well as your project.
        </p>
        <button class="rounded-full bg-blue-dark text-pink-light py-2 px-6">Upcoming classes</button>
      </div>
    </div>
    <div class="bg-teal-dark text-pink-light py-20 px-6">
      <h2 class="text-4xl font-medium mb-3">A Community of Makers</h2>
      <p class="text-lg max-w-prose mb-6">
        Our members are into interests such as woodworking, digital fabrication, cosplay, sewing, model making, RC planes, cars and drones, micro-controllers, robotics, coding, plastic recycling,
        prototyping and pretty much every other facet of ‘Making’ in its broadest sense. You are sure to find like minded and kindred spirits at Maker Community.
      </p>
      <button class="rounded-full bg-pink-light text-teal-dark py-2 px-6">Who's Involved?</button>
    </div>
    <div style="height: 400px">x</div>
  </body>
</html>
